<ion-view id="onboard-welcome" class="onboarding">
  <ion-content ng-controller="welcomeController" ng-init="createProfile()" scroll="false">
    <div class="box-notification error text-center size-12 text-warning" style="margin-top: 40px;">
      <span class="size-14">
        <i class="ion-alert-circled"></i>
        <span>
          <b>WARNING:</b> This wallet will not be maintained and compatible with ZelCash network. To recover your Zel, go to <a href="https://my.zel.cash">https://my.zel.cash</a> and in settings use 'Enter Copay recovery phrase'.
        </span>
      </span>
    </div>
    <div id="logo-tagline">
        <img src='img/app/logo-negative.png' id="logo" />
        <p id="lead" translate>Take control of your money,<br />get started with Zelcash.</p>
    </div>
    <div id="cta-buttons">
        <button class="button button-standard button-primary" id="get-started" href ui-sref="onboarding.tour" translate-context="button" translate>Get started</button>
        <button class="button button-standard button-secondary button-clear" id="restore" translate href ui-sref="onboarding.import({'fromOnboarding':true})">Restore from backup</button>
    </div>
  </ion-content>
</ion-view>
